{namespace bamboo.feature.release.autocomplete}

/**
 * Displays select2 result
 * @param item
 */
{template .result}
    {$item.name}
{/template}

/**
 * Displays select2 selection
 * @param item
 */
{template .selection}
    {$item.name}
{/template}