{namespace bamboo.util.errors}

/**
 * Displays error message
 */
{template .message}
    <div class="aui-message error ajax-error">
        <p class="title">
            <span class="aui-icon icon-error"></span>
            <strong>Ajax error occurred. Please try reloading the page.</strong>
        </p>
    </div>
    <br/>
{/template}
