.log-viewer-green {
    color: green;
}
.log-viewer-red {
    color: red;
}
.log-viewer-cyan {
    color: rgb(39, 192, 213);
}
.log-viewer-blue {
    color: blue;
}
.log-viewer-magenta {
    color: magenta;
}
