{namespace bamboo.page.about}

/**
 *
 */
{template .lgplLibraries}
<ul>
<li>Atlassian Hibernate Extras (<a href="http://www.atlassian.com/atlassian-public-pom/atlassian-hibernate-extras/" target="_blank">com.atlassian.hibernate:atlassian-hibernate-extras:jar:2.2</a>)</li>
<li>atlassian-image-consumer (<a href="http://www.atlassian.com/atlassian-public-pom/atlassian-image-consumer/" target="_blank">com.atlassian.image:atlassian-image-consumer:jar:1.0.1</a>)</li>
<li>BeanShell (org.beanshell:bsh:jar:2.0b4)</li>
<li>c3p0:JDBC DataSources/Resource Pools (<a href="http://c3p0.sourceforge.net" target="_blank">c3p0:c3p0:jar:0.9.1.2</a>)</li>
<li>Core - API (<a href="http://jwebunit.sourceforge.net/jwebunit-core" target="_blank">net.sourceforge.jwebunit:jwebunit-core:jar:1.4.1</a>)</li>
<li>Core - API (<a href="http://jwebunit.sourceforge.net/jwebunit-core" target="_blank">net.sourceforge.jwebunit:jwebunit-core:jar:2.3</a>)</li>
<li>CSS Parser (<a href="http://cssparser.sourceforge.net/" target="_blank">net.sourceforge.cssparser:cssparser:jar:0.9.5</a>)</li>
<li>DbUnit Framework (<a href="http://dbunit.sourceforge.net" target="_blank">org.dbunit:dbunit:jar:2.2</a>)</li>
<li>ddsteps-httpserver-mock (org.ddsteps:ddsteps-httpserver-mock:jar:1.0-m1)</li>
<li>Hibernate 2.1.8 (Atlassian fork) (hibernate:hibernate:jar:2.1.8-atlassian-12)</li>
<li>HtmlUnit Plugin (<a href="http://jwebunit.sourceforge.net/jwebunit-htmlunit-plugin" target="_blank">net.sourceforge.jwebunit:jwebunit-htmlunit-plugin:jar:1.4.1</a>)</li>
<li>HtmlUnit Plugin (<a href="http://jwebunit.sourceforge.net/jwebunit-htmlunit-plugin" target="_blank">net.sourceforge.jwebunit:jwebunit-htmlunit-plugin:jar:2.3</a>)</li>
<li>Java Native Access Platform (<a href="https://github.com/twall/jna" target="_blank">net.java.dev.jna:platform:jar:3.4.0</a>)</li>
<li>Java Native Access (<a href="https://github.com/twall/jna" target="_blank">net.java.dev.jna:jna:jar:3.4.0</a>)</li>
<li>JCaptcha (com.octo.captcha:jcaptcha-api:jar:2.0-alpha-1)</li>
<li>JCaptcha (com.octo.captcha:jcaptcha:jar:2.0-alpha-1)</li>
<li>jcommon (<a href="http://www.jfree.org/jcommon/" target="_blank">jfree:jcommon:jar:1.0.12</a>)</li>
<li>jfreechart (jfree:jfreechart:jar:1.0.9)</li>
<li>jna-platform (net.java.dev.jna:jna-platform:jar:3.2.7)</li>
<li>jtds (<a href="http://jtds.sourceforge.net" target="_blank">net.sourceforge.jtds:jtds:jar:1.2.2</a>)</li>
<li>jwebunit 1.2 atlassian patch (<a href="http://jwebunit.sourceforge.net" target="_blank">net.sourceforge.jwebunit:jwebunit:jar:1.2-atlassian-3</a>)</li>
<li>P4Java - Atlassian Patched (<a href="http://tek42.com/perforce" target="_blank">com.tek42.perforce:p4java:jar:0.7.5-atlassian-9</a>)</li>
<li>wforms (<a href="http://code.google.com/p/wforms/" target="_blank">Unspecified</a>)</li>
<li>xom (<a href="http://www.xom.nu" target="_blank">xom:xom:jar:1.0</a>)</li>
</ul>
{/template}