.result-list{margin-top:10px;padding-top:10px;}.result-list:first-child{margin-top:0;}
.result-list table.aui td{vertical-align:middle;height:28px;}.result-list table.aui td .release-info{float:left;margin-right:10px;margin-top:4px;}
.result-list table.aui td .reviewed-user-avatar{margin-top:4px;}
