<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="imageCaptchaService" class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService" lazy-init="true">
        <constructor-arg>
            <bean class="com.octo.captcha.service.captchastore.FastHashMapCaptchaStore"/>
        </constructor-arg>
        <constructor-arg ref="captchaEngine"/>
        <constructor-arg value="180"/>
        <constructor-arg value="100000"/>
        <constructor-arg value="75000"/>
    </bean>

    <bean id="captchaEngine" class="com.octo.captcha.engine.image.gimpy.DefaultGimpyEngine" lazy-init="true"/>

</beans>