#panel-editor-setup{border-top:1px solid #cccccc;margin:20px 0 0;min-height:360px;overflow:hidden;padding-left:364px;position:relative;}
#panel-editor-setup:after{background:#cccccc;bottom:0;content:"";left:344px;position:absolute;top:0;width:1px;}
#panel-editor-list{float:left;margin-left:-364px;width:344px;}
#panel-editor-config{float:left;padding:10px 0;position:relative;width:100%;}
#panel-editor-list>ul{list-style:none;margin:-1px 0 10px;padding:0;}
#panel-editor-list>ul>li{border-bottom:1px solid #cccccc;border-top:1px solid #cccccc;margin:0 0 -1px;padding:6px 28px 6px 12px;position:relative;}
#panel-editor-list .item{-webkit-transition:background 0.3s ease;-moz-transition:background 0.3s ease;-ms-transition:background 0.3s ease;-o-transition:background 0.3s ease;transition:background 0.3s ease;cursor:pointer;}
#panel-editor-list .item:hover{background:#f5f5f5;}
#panel-editor-list .item.active{background:#3b73af;}
#panel-editor-list .item>input{margin:0 6px 0 0;vertical-align:middle;}
#panel-editor-list .item>.icon-loading+input{visibility:hidden;}
#panel-editor-list .item-title{border:0;color:inherit;font-size:1em;font-weight:normal;margin:0;overflow:hidden;text-overflow:ellipsis;}
#panel-editor-list .item-description{-webkit-transition:color 0.3s ease;-moz-transition:color 0.3s ease;-ms-transition:color 0.3s ease;-o-transition:color 0.3s ease;transition:color 0.3s ease;color:#707070;font-size:12px;margin-top:2px;overflow:hidden;text-overflow:ellipsis;width:300px;}
#panel-editor-list>ul.ui-sortable .item-description,#panel-editor-list>ul.ui-sortable .item-title{width:288px;}
#panel-editor-list li.invalid h3{color:#c00;}
#panel-editor-list li.invalid.active h3{color:#fff;}
#panel-editor-list .item a{-webkit-transition:color 0.3s ease;-moz-transition:color 0.3s ease;-ms-transition:color 0.3s ease;-o-transition:color 0.3s ease;transition:color 0.3s ease;display:block;text-decoration:none;}
#panel-editor-list .item>.icon-loading,#panel-editor-list .item>a.delete{line-height:1;margin-top:-8px;position:absolute;right:6px;top:50%;}
#panel-editor-list .item>a.delete{background:#bbbbbb;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;color:#fff;font:bold 14px/16px Arial,Helvetica,sans-serif;height:16px;text-align:center;text-decoration:none;-webkit-transition:all 0.1s ease;-moz-transition:all 0.1s ease;-o-transition:all 0.1s ease;transition:all 0.1s ease;width:16px;}
#panel-editor-list .item>a.delete:hover{background:#707070;}
#panel-editor-list .item>a.delete:active{background:#333333;}
#panel-editor-list .item>a.delete:before{content:"\00D7";}
#panel-editor-list .item>.icon-loading+a.delete,#panel-editor-list .item.unsaved>a.delete{display:none;}
#panel-editor-list .item>.icon-loading:first-child{left:22px;right:auto;}
#panel-editor-list .item.active>.icon-loading{background-image:url(../../../images/icons/wait-326ca6-bg.gif);}
#panel-editor-list .active .item-title{font-weight:bold;}
#panel-editor-list .active .item-description,#panel-editor-list .item.active a{color:#fff;}
#panel-editor-list>.aui-toolbar{margin:0 5px 1em;vertical-align:middle;}
#panel-editor-list>.aui-toolbar+.icon-loading{vertical-align:baseline;}
#panel-editor-config .invalidPlugin{position:relative;}
#panel-editor-config .invalidPlugin h2{margin-top:10px;}
#panel-editor-config form.aui .long-field{max-width:500px;width:90%;}
#panel-editor-config .aui-message{margin-right:20px;}
#panel-editor-list>ul.ui-sortable>li{padding-left:24px;}
#panel-editor-list>ul.ui-sortable>.item:before{background:url(../../../images/handle-repeatable.gif) repeat;bottom:9px;content:"";cursor:move;left:8px;position:absolute;top:10px;width:8px;}
#panel-editor-list .ui-sortable-helper{-webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2);box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2);}
#panel-editor-setup.no-items:after,.no-items>#panel-editor-config,.no-items>#panel-editor-list>h2,.no-items>#panel-editor-list>ul{display:none;}
#panel-editor-setup.no-items{padding:0;}
.no-items>#panel-editor-list{float:none;margin:10px 0 0;width:auto;}
#no-item-selected{left:0;position:absolute;right:0;}
#no-items-message,#no-item-selected>h2,#no-item-selected>p{color:#949494;font-size:32px;margin-top:2em;text-align:center;}
#no-items-message{display:none;}
#no-item-selected>h2{border:0;font-weight:normal;margin-bottom:0;}
#no-item-selected>p{font-size:1em;margin-top:0;}
.no-items>#no-items-message{display:block;}
.no-items>#panel-editor-list>.aui-toolbar{left:-40px;margin-left:50%;}
.no-items>#panel-editor-list>.aui-toolbar+.icon-loading{margin-left:-40px;}
