form.createIssueForm .select,
form.createIssueForm .text,
form.createIssueForm .textarea,
form.createIssueForm .multi-select {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
}

.create-issue-teaser img{
    display: block;
    margin: 16px auto 0;
    width: 463px;
    height: 395px;
}
