.studio-header .aui-shadow-parent{display:none;}
.studio-admin-table{position:relative;}
.studio-admin-table #elasticWidget>.toolbar{margin-top:1px;right:0;top:1em;}
.ondemand #inline-dialog-plan-status-history-info{top:128px !important;}
.ondemand .upm-notifications-bamboo{display:none;}
