.version-details-panel{width:300px;}.version-details-panel .version-details{-webkit-border-radius:3.01px;-moz-border-radius:3.01px;border-radius:3.01px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #cccccc;margin-top:10px;padding:10px;}.version-details-panel .version-details>dt{margin-top:10px;color:#707070;}.version-details-panel .version-details>dt:first-child{margin-top:0;}
.version-details-panel .version-details ul{list-style:none;padding:0;}
.version-details-panel .version-details .reviewed-user-avatar{padding-top:5px;}
.version-details-panel .version-details img.aui-avatar-small{-webkit-border-radius:3.01px;-moz-border-radius:3.01px;border-radius:3.01px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.version-status-hidden{display:none;}
.has-version-status{display:inline-block;margin-right:10px !important;vertical-align:middle;}
#compareWithContainer{padding-bottom:20px;}#compareWithContainer .aui-button{margin-left:10px;}
.icon-right-arrow{background:url(../../../images/build_nav_arrow_right_grey.gif) no-repeat 50% 50%;}
#testedInTable .result-cell{width:10%;}
.artifacts-from-result{padding-right:10px;}
#comments{margin-top:40px;}
