.select2-results .aui-iconfont-devtools-branch{color:#707070;}
.select2-highlighted .aui-iconfont-devtools-branch{color:#ffffff;}
.aui-select2-drop.aui-dropdown2.aui-style-default a{display:inline;padding:0px;}
