{namespace bamboo.widget.autocomplete}

/**
 * Displays select2 result
 * @param name
 */
{template .result}
    {$name}
{/template}

/**
 * Displays select2 selection
 * @param name
 */
{template .selection}
    {$name}
{/template}