{namespace bamboo.feature.branch.autocomplete}

/**
 * Displays select2 result
 * @param label
 */
{template .result}
    <span class="aui-icon aui-icon-small aui-iconfont-devtools-branch"></span>  {$label}
{/template}